package components

import dt "claw-destine.com/camboose/core/datatypes"


templ specsComponent(currentProject *dt.Project) {
if currentProject == nil {
<div class="notification is-info">
    Select of create a project.
</div>
} else {
<h1 class="title">Specs</h1>
}
}