# Copy this file to .env and set secure values.

# Path to the recipies folder
RECIPIES_PATH=recipies
POSTGRES_DB=camboose
POSTGRES_USER=camboose
POSTGRES_PASSWORD=camboose
POSTGRES_HOST=localhost
POSTGRES_PORT=5432