# Copy this file to .env and set secure values. 
# This values are used by camboose and 3rd pary services in docker-compose.yml

# Path to the recipies folder
RECIPIES_PATH=recipies
STATIC_DIR="./frontend/dist"

# Postgres config
POSTGRES_DB=camboose
POSTGRES_USER=camboose
POSTGRES_PASSWORD=camboose
POSTGRES_HOST=localhost
POSTGRES_PORT=5432