<div class="box">
    <form hx-post={ appendQueryParams("/components/version", qkCurrProj, currentProject.Id )}
        hx-target="#versionlist-container">
        <div class="container is-fluid">
            <b>Create a new version / epic:</b>
            <label class="cbs_hform_item" for="version_name">Name</label>
            <input class="cbs_hform_item" type="text" id="version_name" name="name">
            <input class="cbs_hform_item" type="submit" value="create">
        </div>
    </form>
</div>
<div class="box cbs_vfull" id="versionlist-container">
    <slot name="version-list"></slot>
</div>