<div class="columns" id="main-body">
    <aside class="menu column is-narrow">
        <figure class="image is-128x128">
            <img src="../assets/camboose_logo.png" alt="logo" />
        </figure>
        <h1 class="title">camboose</h1>
        <p class="menu-label">Current Project</p>
        <div id="quick-project-select" class="dropdown">
            <div class="dropdown-trigger">
                <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
                    Select project
                </button>
            </div>
            <div class="dropdown-menu" id="dropdown-menu" role="menu">
                <div class="dropdown-content">
                    <slot name="project-dropdown">Create new project</slot>
                </div>
            </div>
        </div>

        <ul class="menu-list" id="menu-list">
            <p class="menu-label">Plan</p>
            <li><a id="specs-menu-item" hx-trigger="click" hx-target="#main-container">Specs</a></li>
            <p class="menu-label">Deliver</p>
            <li><a id="tasks-menu-item" hx-trigger="click" hx-target="#main-container">Tasks</a></li>
            <p class="menu-label">Manage</p>
            <li><a id="projects-menu-item" hx-trigger="click" hx-target="#main-container">Projects</a>
            </li>
            <li><a id="recipies-menu-item" hx-trigger="click" hx-target="#main-container">Recipies</a>
            </li>
            <!-- // <p class="menu-label">Awaiting Tasks</p> -->

        </ul>
        <!-- // <nav class="panel is-info">
            // <p class="panel-tabs">
                // <a class="is-active">Current project</a>
                // <a>All</a>
                // </p>
            // </nav> -->

    </aside>
    <div id="main-container" class="column">
    </div>
</div>