package projects

import (
	cp "claw-destine.com/camboose/core/projectmanagement"
	"strings"
)

templ Projects() {
	<div class="columns">
		<div class="column is-one-fifth">
			<nav class="panel">
				<p class="panel-heading">Projects</p>
				{ strings.Join(cp.ListProjects(), " , " ) }
			</nav>
		</div>
		<div class="column">Auto</div>
	</div>
}
