@media (min-width: 600px) {
        .cbs_hform_item {
                margin-right: 1rem !important;
                margin-left: 1rem !important;
        }

        #main-body {
                height: 92vh !important;
        }

        .cbs_vfull {
                min-height: 100% !important;
        }
}